<ion-view title="{{op.ngo.ngoName}} -- {{op.offerTitle}}">
    <ion-tabs class="tabs-positive tabs-icon-only">
        <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
            <div class="list card">
                <div class="row">
                    <div class="col">
                        <img src="{{op.ngo.pic.url }}"/>
                    </div>
                    <div class="col">
                        <div class="list list-inset">
                            <div class="item">
                                {{op.description}}
                            </div>
                            <div class="item">
                                For a duration of {{op.duration}} hrs on {{date}}.
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col">
                                        <p> <i class="icon ion-ios-telephone"></i> {{op.phoneNo}}</p>
                                    </div>
                                    <div class="col">
                                        <p> <i class="icon ion-ios-email"></i> {{op.ngo.email}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-tab>
        <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
            <ion-content class="has-header has-subheader">
                <ion-list>
                    <ion-item ng-repeat="ngo in ngos" type="item-text-wrap" class="item-avatar">
                        <img src="{{ngo.pic.url}}"/>
                        {{ngo.ngoName}} <rating ng-model="rate" max="5">{{ngo.rating}}</rating>
                        <p>{{ngo.address}}</p>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>